

body {background-color: maroon;}

h1 {color: tomato; text-align: center;}

p {background-color: white; padding: 50px; border: 1px solid; font-size:150%;}

ul{background-color: cornflowerblue; padding: auto; border: 10px solid forestgreen; font-size:120%;}

img {height: 250px; width: auto; background-color: white; padding: 10px; border: 2px dashed; position: relative;}
