body {background-color: lightblue;} 

h1 {color: hotpink; text-align: center;}

p {background-color: white; padding: 50px; border: 1px solid; font-size:150%;}

ul{background-color:lightsalmon; padding: auto; border: 10px solid hotpink; font-size:120%;}

img {height: 250px; width: auto;; padding: 10px; border: 1px dashed;}




