body {background-color: brown;}

h1 {color: mediumblue;font-family: cursive;text-align: center;}

p {background-color: khaki; padding: 50px; border: 1px solid;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

img {height: 250px; width: auto; background-color: lightcoral; padding: 10px; border: 1px dashed;}