<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>About Catland</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />

        <style>
            body {background-color: maroon;}
            
            h1 {color: tomato;}

            p {background-color: white; padding: 50px; border: 1px solid; font-size:150%;}

            ul{background-color: cornflowerblue; padding: auto; border: 10px solid forestgreen; font-size:120%;}

            img {height: 250px; width: auto; background-color: white; padding: 10px; border: 2px dashed;}
        </style>
    </head>
    <img title="Friends" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.purina.ca%2Fsites%2Fg%2Ffiles%2Fauxxlc601%2Ffiles%2Fstyles%2Ffacebook_share%2Fpublic%2Fpurina-cat-interesting-facts-500x300.png%3Fitok%3DSVxL51-S&imgrefurl=https%3A%2F%2Fwww.purina.ca%2Farticles%2Fcat%2Ffacts%2F10-fascinating-facts-about-cats&tbnid=pdviZjfRt4DG7M&vet=12ahUKEwiQ5qP6r_3oAhUCyawKHcp1Ao0QMygeegQIARBl..i&docid=nBiKQ72ZH5a1VM&w=1200&h=630&q=about%20cat&client=firefox-b-1-d&ved=2ahUKEwiQ5qP6r_3oAhUCyawKHcp1Ao0QMygeegQIARBl" alt="Cat"> 
    <body>
        <h1>What is Catland</h1>
        <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel dolor id nulla condimentum auctor. Etiam risus tellus, aliquam vitae pharetra nec, volutpat at neque. Phasellus euismod non orci id vestibulum. Aliquam feugiat felis in fermentum sollicitudin. Proin vel pretium leo, non ornare sem. Integer sodales ligula eu justo egestas facilisis. Donec at nisl quis purus sagittis laoreet in sit amet odio. Nam finibus risus est, egestas porttitor quam cursus id. Pellentesque in nibh nisl. In hac habitasse platea dictumst. Praesent id quam risus. Nullam non metus ante. Etiam vitae urna a nibh sodales ullamcorper vitae non velit. Vivamus congue mauris neque, nec ornare libero condimentum in. Nulla nec lorem turpis.

            Nunc a tortor a nisl lobortis ultricies. Praesent nec mauris eget leo vulputate facilisis vitae id lectus. Suspendisse ultrices augue nisi, ac hendrerit nunc efficitur eu. Etiam vehicula finibus velit laoreet luctus. Aliquam id est cursus, vestibulum velit eu, venenatis diam. Ut accumsan enim purus. Nulla rhoncus turpis vel sem elementum maximus.
            
            Vivamus eleifend vestibulum sodales. Suspendisse sed suscipit turpis. Mauris faucibus ligula vitae diam venenatis, vel condimentum sapien euismod. Donec vitae ex nisi. Etiam ac imperdiet diam. Suspendisse facilisis dui eu massa imperdiet, et faucibus nisl tristique. Nam luctus auctor justo, quis gravida ligula blandit nec. Suspendisse pretium ante leo, sit amet tincidunt ipsum tristique eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam porta lobortis ex at sollicitudin. Fusce sodales laoreet viverra. Aenean eu blandit lectus. Integer nulla sapien, porta vel ligula vitae, faucibus suscipit lectus. Pellentesque in risus non metus feugiat volutpat non eu libero. </P>
    </body>
</html>
        













    </head>































</html>