

{% extends "base.jinja" %} 

{% block head %} 

{{ super() }} 

{% block title %} Gallery {% endblock %}

    <link
    rel="stylesheet"
    script
    type="text/css"
    href="/styles/gallery.css"
    />
{% endblock %} 

{% block content %}

{% include "components/navbar.jinja" ignore missing %}

<div class="gallery">
  
<h2 style="text-align:center">Slideshow Gallery</h2>
  <!-- Container for the image gallery -->
  <div class="container">

      <!-- Full-width images with number text -->

      {% for image in images %}

        <div class="mySlides">
            <div class="numbertext"> X </div>
            <img src="{{ image }}" style="width:100%">
        </div>

      {% endfor %}
    
      <!-- Thumbnail images -->
      <div class="row">

        {% for image in images %}

            <div class="column">
                <img class="demo cursor" src="{{ image }}" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
            </div>
        
        {% endfor %}
        
            
          </div>
        {% endblock %}
       
      </div>
    </div>
{% endblock }
