{% extends "base.jinja" %} 

{% block head %} 

{{ super() }} 

{% block title %} Gallery {% endblock %}

    <link
    rel="stylesheet"
    script
    type="text/css"
    href="/styles/gallery.css"
    />
{% endblock %} 

{% block content %}

{% include "components/navbar.jinja" ignore missing %}

<div class="gallery">

    {% for image in images %}
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ image }}" alt="{{ image }}">
            </div>        
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block footer %}

<script
    src="/scripts/gallery.js"
    crossorigin="anonymous"
></script>

{% endblock %}
