<!DOCTYPE html>
<html lang="en-US">
   <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/gallery.css" />
    <title>Uploaded cat stuff.</title>
    <script src="/scripts/gallery.js"></script>
    </head>

<body>

  
<h2 style="text-align:center">Slideshow Gallery</h2>
  <!-- Container for the image gallery -->
  <div class="container">

      <!-- Full-width images with number text -->

      {% for image in images %}

        <div class="mySlides">
            <div class="numbertext"> X </div>
            <img src="{{ image }}" style="width:100%">
        </div>

      {% endfor %}
    
      <!-- Thumbnail images -->
      <div class="row">

        {% for image in images %}

            <div class="column">
                <img class="demo cursor" src="https://catland-uploads.s3.us-east-2.amazonaws.com/{{ image }}" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
            </div>
        
        {% endfor %}
       
      </div>
    </div>
  </body>
</html>
   