{% extends "base.jinja" %} 

{% block head %} 

{{ super() }} 

{% block title %} Gallery {% endblock %}

    <link
    rel="stylesheet"
    script
    type="text/css"
    href="/styles/gallery.css"
    />
{% endblock %} 

{% block content %}

{% include "components/navbar.jinja" ignore missing %}

<div class="alert alert-success" role="alert">
    You made it to the gallery!
</div>


{% for image in images %}

<!-- div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ image }}" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div -->

<img src="{{ image }}" class="img-fluid" alt="{{ image }}">


{% endfor %}

{% endblock %}

{% block footer %}

<script
    src="/scripts/gallery.js"
    crossorigin="anonymous"
></script>

{% endblock %}
