{% extends "base.jinja" %} 

{% block title %} Homepage {% endblock %}

{% block head %} 

{{ super() }} 

        
<link rel="stylesheet" type="text/css" href="/styles/index.css" />

{% endblock %} 

{% block content %}

{% include "components/navbar.jinja" ignore missing %}
  
      <div class="Home">
        <h1>Welcome to Catland</h1>
    <img title="Meow" src="https://undark.org/wp-content/uploads/2020/02/GettyImages-1199242002-1-scaled.jpg" alt="Cat looking at you">
        <p>{{message}}</p>
        
        </div>
{% endblock %}

{% block footer %}

<script
    src="/scripts/index.js"
    crossorigin="anonymous"
></script>

{% endblock %}
