{% extends "base.jinja" %} 

{% block title %} Homepage {% endblock %}

{% block head %} 

{{ super() }} 

        
<link rel="stylesheet" type="text/css" href="/styles/index.css" />

{% endblock %} 

{% block content %}


{% include "components/navbar.jinja" ignore missing %}
  
      <div class="Home">
        <h1>Welcome to Catland</h1>
{% include "components/Carousel.jinja" ignore missing %}
</div>
        <p>{{message}}</p>
        
</div>
{% endblock %}

{% block footer %}

<script
    src="/scripts/index.js"
    crossorigin="anonymous"
></script>

{% endblock %}
