<!DOCTYPE html>
<html>
      <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="http://127.0.0.1:5000/index">Home</a></li>
            <li><a href="http://127.0.0.1:5000/uploader">Upload Cats</a></li>
            <li><a href="http://127.0.0.1:5000/gallery">Gallery</a></li>
            <li><a href="http://127.0.0.1:5000/about">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>