<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Upload</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />

        <style>
            body  {background-color: lightgoldenrodyellow;}

            h1 {color: black; text-align: center;}

            p {background-color: white; padding: 50px; border: 1px solid; font-size:150%;}

            ul{background-color: salmon; padding: auto; border: 10px solid forestgreen; font-size:120%;}
        </style>
    </head>
    <body>
        <h1>Upload Image</h1>
        <form action = "http://localhost:5000/uploader" method = "POST">
            <label for="upname">Image name</label><br>
            <input type="text" id="upname" name="upname"><br>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">  
            <input type="submit" value="Submit"> 
        </form>




    </body>








</html>