{% extends "base.jinja" %} 

{% block title %} Uploader {% endblock %}

{% block head %} 

{{ super() }} 

    <link
    rel="stylesheet"
    script
    type="text/css"
    href="/styles/uploader.css"
    />
{% endblock %} 


{% block content %} 

{% include "components/navbar.jinja" ignore missing %}

<div class="alert alert-primary" role="alert">
  We are officially inside of a bootstrap application!
</div>

<div class="uploader">
    <h1>Upload Image</h1>
    <form enctype="multipart/form-data" action="http://localhost:5000/uploader" method = "POST">
        <div class="form-group">

            <label for="img">Select image:</label>
            <input class="form-control" type="file" id="file" name="file" accept="image/*"><br>
            <small id="emailHelp" class="form-text text-muted">Your precious cat pics can be uploaded here!</small>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>   
</div>


{% endblock %} 

{% block footer %}

<script src="/scripts/uploader.js" crossorigin="anonymous"></script>

{% endblock %}
