<!DOCTYPE html>
<html lang="en-US">
    <head>
    
        <title>Upload</title>
        <link rel="stylesheet" type="text/css" href="/styles/uploader.css" />
    </head>
    <body>
        {% extends "layout.jinja" %}
        {% block content %}
          <div class="uploader">
        <h1>Upload Image</h1>
        <form enctype="multipart/form-data" action="http://localhost:5000/uploader" method = "POST">
            <!-- label for="upname">Image name</label><br>
            <input type="text" id="upname" name="upname"><br --->

            <label for="img">Select image:</label>
            <input type="file" id="file" name="file" accept="image/*"><br>  
            <input type="submit" value="Submit">
        </form>   
          </div>
        {% endblock %}
    </body>
</html>